@import "fonts.css";

:root {
    --wedding-pink: #fad7e8;
    --carousel-img-max-height: 860px;
    --carousel-img-max-width: 1500px;
    --carousel-frame-min-width: 625px;
    --carousel-frame-min-height: 860px;
    --carousel-frame-padding: 12px;
}

@media screen and (max-width: 1920px){
    :root{ 
        --carousel-img-max-height: 700px;
        --carousel-img-max-width: 1100px;
        --carousel-frame-min-width: 1125px;
        --carousel-frame-min-height: 725px;
        --carousel-frame-padding: 12px;
    }
}

@media screen and (max-width: 1440px){
    :root{
        --carousel-img-max-height: 600px;
        --carousel-img-max-width: 1270px;
        --carousel-frame-min-width: 1290px;
        --carousel-frame-min-height: 622px;
        --carousel-frame-padding: 9px;
    }
}

@media screen and (max-width: 1367px) and (max-height: 800px){
    :root {
        --carousel-img-max-height: 550px;
        --carousel-img-max-width: 977px;
        --carousel-frame-min-width: 997px;
        --carousel-frame-min-height: 570px;
        --carousel-frame-padding: 10px;
    }
}

@media screen and (max-width: 1025px){
    :root {
        --carousel-img-max-height: 550px;
        --carousel-img-max-width: 977px;
        --carousel-frame-min-width: 1000px;
        --carousel-frame-min-height: 580px;
        --carousel-frame-padding: 10px;
    }
}

@media screen and (max-width: 1025px) and (max-height: 700px){
    :root {
        --carousel-img-max-height: 420px;
        --carousel-img-max-width: 750px;
        --carousel-frame-min-width: 770px;
        --carousel-frame-min-height: 440px;
        --carousel-frame-padding: 10px;
    }
}

/*medium tablet*/
@media screen and (max-width: 801px) {
    :root {
        --carousel-img-max-height: 410px;
        --carousel-img-max-width: 790px;
        --carousel-frame-min-width: 600px;
        --carousel-frame-min-height: 410px;
        --carousel-frame-padding: 10px;
    }
}

/*max phone style*/
@media screen and (max-width: 500px) {
    :root {
        --carousel-img-max-height: 233px;
        --carousel-img-max-width: 400px;
        --carousel-frame-min-width: 400px;
        --carousel-frame-min-height: 245px;
        --carousel-frame-padding: 7px;
    }
}

/*max phone style*/
@media screen and (max-width: 410px) {
    :root {
        --carousel-img-max-height: 233px;
        --carousel-img-max-width: 345px;
        --carousel-frame-min-width: 347px;
        --carousel-frame-min-height: 245px;
        --carousel-frame-padding: 7px;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--wedding-pink);
}

#root {
    flex: 1 0 auto;
}

.main-bg-color {
    background-color: var(--wedding-pink);
}

.has-top-shadow {
    box-shadow: 0 -2px 3px hsla(0,0%,4%,.1);
}

.short-footer {
    padding-bottom:0rem;
}

.is-maxheight {
    height: 100%;
}

.navbar-item.is-logo {
    position: absolute;
    left: 50%;
    margin-left: -63px;
    height: 100%;
    display: flex;
    align-items: center;
}